
/* tab responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  nav.nav_bar {
    padding: 1rem 2rem;
  }

  span.nav_title{
    font-size: 1.4rem;
  }

  .btn_c{
    font-size: 1rem;
    
  }

}

