
/*desktop responsive */

@media screen and (min-width:1024px) and (max-width:1600px) {

  .nav_bar{
    padding: 1rem 5rem;
  }

  .hero{
    margin-left: 5rem;
  }
  
}

/* tab responsive */

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  
  nav.nav_bar {
    padding: 1rem 4rem;
  }

  span.nav_title{
    font-size: 1.4rem;
  }

  .btn_c{
    font-size: 1rem;
    
  }


  /* hero */

.hero{
  margin-left: 4rem;
}

.title_1{
  font-size: 1rem;
  font-weight: bold;
}

.title_2{
  font-size: 1.5rem;
  font-weight: bolder;
}

.btn_cv{
  padding: .6rem 1.4rem;
  font-size: 1rem;
}

.btn_call{
  padding: .6rem 1.4rem;
  font-size: 1rem;
  margin: 0;
}

}



@media screen and (min-width: 375px) and (max-width: 765px) {
  nav.nav_bar {
    flex-direction: column;

  }


  nav.nav_bar {
    padding: 10px 12px;
  }

  .nav_title {
    font-size: 15px;
    white-space: nowrap;
    word-break: normal;
    width: auto;
  }

  .btn_c{
    margin: 0;
    padding: 6px 20px;
    font-size: 10px;
    white-space: nowrap;
  }

  .nav_menu li{
   padding: 1.2rem 1.2rem;
  }


  /* hero */

  .hero{

    margin-left:1rem;

  }

  .title_1{
  font-size: .6rem;
  font-weight: bold;
}

.title_2{
  font-size: 1rem;
  font-weight: bolder;
}

.descripion{
  font-size :0.9rem;
  width: 80%;
}

.btn_cv{
  padding: .3rem 1rem;
  font-size: 1rem;
}

.btn_c{
  padding: .3rem 1rem;
  font-size: 1rem;
  margin: 1.4rem;

}

.hero-container{
  flex-direction: column;
}

}
