/* googole font css  */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* universal selector setup */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* btn style */
.btn{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
}

img{
  width: 100%;
  height: auto;
}


/* header section style */

#header_section{
  min-height: 52rem;
 background-color: #FFF8F3;
 background-image: url(../images/developer.png);
 background-position:left;
 background-repeat: no-repeat;
}

/* nav_bar style */

.nav_bar{
  display: flex;
  justify-content: space-between;
  padding: 4rem 14rem ;
  align-items: center;
}


/* nav_title style */

.nav_title{
  font-size: 4rem;
  font-weight: bolder;
}

/* single_alpha style */
 
.single_alpha{
  color: #FD6E0A;
}

/* nav_menu style */

.nav_menu{
 
  display: flex;
  
}

.nav_menu li{
  list-style: none;
  padding:  1.2rem 2.2rem;
  

}

.nav_menu a{
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;

}


/* btn_ style */

.btn_c{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
  margin-left: 4rem;
}

/* btn_c hover effect */

.btn_c:hover{

  background-color: #ee6200;

}



/* hero conrainer */

.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 4rem;
  margin-bottom: 4rem;

  }

/* herostyle */

.hero{
  margin-left: 14rem;
}


.title_1{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.title_2{
  font-size: 3rem;
  font-weight: 700;
}

.descripion{
  font-size: 1.2rem;
  
}

/* action style */

.action{
  padding: 1.4rem 0rem;
  display: flex;
  

}


.btn_cv{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
  margin-right:1rem ;
}

.cv_i{
  padding: 0px .4rem;
}


.btn_call{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
  margin: 0px 2rem;
}

.call_i{
  padding: 0px .4rem;
}



/* main section */
.main_section{

  margin: 9rem 14rem;
  
 
}

/* blog_container style */

.blog_container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 9.8rem ;
  border-radius:10px;
  background-color: #FFF8F3;

  
  
}

.descripion_1{
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: normal;
  padding: 1rem 0rem;
}


.information{

 display: grid;
 grid-template-columns: repeat(4, 1fr);
 justify-content: center;
 align-items: center;
 margin-top: 2rem;
}

.details{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.details h5{
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding: .4rem;
}



/* portpolio_section */

.portpolio_section{
  text-align: center;
  margin: 8rem 0rem;
}


/* portpolo */
.portpolio{
  display:grid;
  grid-template-columns: repeat(4 ,1fr);
}

/* port style */

.port{

  display: flex;
  flex-direction: column;
  padding:2.5rem;
  margin:1.8rem;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgb(1, 78, 130);
  text-align: left;
}


/* portpolio_img style */
.Portpolio_img{
  width: 2rem;
  height: 2rem;
}

/* port_title */

.port_title{
  font-size: 2rem ;
  color: black;
  font-weight: bold;
  margin: 2rem 0rem;
}

.port_description{
  font-size: 1.2rem;
}

/* resume caption style */

.resume_head{

  text-align: center;
  font-size:2.1rem;
  font-weight: bold;
}

/* resume section style */

.resume_section{

  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  justify-content:center;
  margin: 8rem  0rem;
  
  
}




.title_E{

  font-size: 1.7rem;
  margin: 1rem 0rem;
}

/* education style */

.education{

  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  margin-right: 2rem;

}
.Exprience{

  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  margin-right: 2rem;

}


/* Master_title style */

.Master_title{

  font-size: 1rem;
  font-weight: 800;
  color: black;
  margin: 1.4rem 0rem;

}



.sub_title{

  font-size: 1rem;
  color: black;
  margin: .5rem;
}

.Master_des{

  line-height: 1.8rem;

  border-bottom: 1px solid rgb(222, 220, 220);
  padding-bottom: 1rem;

}