/* googole font css  */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* universal selector setup */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header section style */

#header_section{
  height: 52rem;
 background-color: #FFF8F3;
 
}

/* nav_bar style */

.nav_bar{
  display: flex;
  justify-content: space-between;
  padding: 4rem 14rem ;
  align-items: center;
}


/* nav_title style */

.nav_title{
  font-size: 4rem;
  font-weight: bolder;
}

