/* googole font css  */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* universal selector setup */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* btn style */
.btn{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
}


/* header section style */

#header_section{
  height: 52rem;
 background-color: #FFF8F3;
 background-image: url(../images/developer.png);
 background-position:left;
 background-repeat: no-repeat;
}

/* nav_bar style */

.nav_bar{
  display: flex;
  justify-content: space-between;
  padding: 4rem 14rem ;
  align-items: center;
}


/* nav_title style */

.nav_title{
  font-size: 4rem;
  font-weight: bolder;
}

/* single_alpha style */
 
.single_alpha{
  color: #FD6E0A;
}

/* nav_menu style */

.nav_menu{
 
  display: flex;
  
}

.nav_menu li{
  list-style: none;
  padding:  1.2rem 2.2rem;
  

}

.nav_menu a{
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;

}


/* btn_ style */

.btn_c{
  background-color: #FD6E0A;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 5px;
  margin-left: 4rem;
}

/* btn_c hover effect */

.btn_c:hover{

  background-color: #ee6200;

}